@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.banner{
    background: url('../img/montanha.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.perfil{
    border-radius: 50%;
    border: #fff solid 0.5rem;
}

.hab{
    text-align:center;
}

.nome{
    color: black;
    font-family:'Oswald', sans-serif;
    text-size-adjust: 180%;
}

@media (max-width: 576px) {
    .banner{
        background-position: right;
        height: 100vh;
    }

}
@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }